 
.bluebg{
 overflow: hidden;
position: relative;
  background-color: #5c6cfb;
  color: white;
  display:flex;
  flex-direction: row;
  width:100%;

   
}
 

.container-gears{
 
  background-clip: padding-box;
  width: 40vw;
  height: 40vw;
  margin-left: 68vw;
  margin-top: 35vh;
  position: absolute;
  background-attachment: fixed;

}

 

.container-gears .gear1{
  background: url('../assets/gear1.png') no-repeat;
  width: 27vw;
 height: 27vw;
  margin-top: 3vw;
 
  float: left;
  margin-left: -3vw;
  margin-right:0 ;
}
 
.container-gears .gear2{
 
  background: url('../assets/gear2.png') no-repeat;
  background-position: center;
  position:relative;
  height: 20vw;
  width: 20vw;
  margin-top: 44vh;
 margin-left: 14vw;
 
}

@media only screen and (max-width: 600px) {
   .container-gears{
    margin-top: 21vh;
    margin-right: -9vw;
   }
   .container-gears .gear1{
    width: 24vw;
    margin-left: -5.9vw;
    height: 24vw;
    margin-top:0vh;

   }
   .container-gears .gear1{ 
  
    background-size:  contain;}
    .container-gears .gear2{ 
      width:7.5vw;
      height:7.5vw;
      margin-top: 19vw;
      margin-right: 19vw;
     margin-right: -2vw;
   
      background-size:  contain;}

      .author{
        margin-right: -5vw;
        margin-top: 2vh;
      }
}
 
 
 